<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1> add your course</h1>
    <form action="/createcourses"  method="post">
   <input type="hidden" name="_csrf" value="<%= csrfToken %>">
   <input type="text" name="coursetitle" placeholder="enter your course title">
  <input type="text" name="coursedes" placeholder="enter your course description">
   <button type="submit">createcourse</button>
    </form>
<script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>