<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1> add your pages</h1>
    <form action="/createpages" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="pgtitle" placeholder="enter your pg name">
    <input type="text" name="pgcontent" placeholder="enter your pg content">
    <button type="submit">submit</button>
    </form>
    <script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>