<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Learning Management System - Change Password</title>
</head>
<body>
  <header class="text-4xl text-center font-bold py-8 bg-gray-800 text-gray-100">
    Change Password
  </header>

  <main class="container mx-auto p-8">
    <form action="/changePassword" method="post" class="grid grid-cols-1 gap-4 text-center">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="email" value="<%= Userdetail.email %>">

      <label for="oldpassword" class="block font-medium mb-2">Current Password</label>
      <input type="password" id="oldpassword" name="oldpassword" class="border rounded-md w-full px-4 py-2 shadow-sm focus:border-blue-500 focus:outline-none" placeholder="Enter your current password">

      <label for="password" class="block font-medium mb-2">New Password</label>
      <input type="password" id="password" name="password" class="border rounded-md w-full px-4 py-2 shadow-sm focus:border-blue-500 focus:outline-none" placeholder="Enter your new password">

      <label for="re-password" class="block font-medium mb-2">Confirm New Password</label>
      <input type="password" id="re-password" name="re-password" class="border rounded-md w-full px-4 py-2 shadow-sm focus:border-blue-500 focus:outline-none" placeholder="Confirm your new password">

      <button type="submit" class="inline-flex items-center px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-md shadow-sm">
        Change Password
      </button>
    </form>
  </main>

  <script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>
