<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
 
    <title>Learning Management System</title>
</head>
<body>
<div> 
 <h1>educator signup</h1>
 </div>
<form action="/changePassword" method="post">
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<input type="hidden" name="email" value="<%= Userdetail.email %>">
<input type="password" name="oldpassword" placeholder="enter your old password">
<input type="password" name="password" placeholder="enter your new password">
<input type="password" name="re-password" placeholder="enter your new password again">
<button type="submit"> submit</button>
</form>
   <script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>