<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
 
    <title>Learning Management System</title>
</head>
<body>
<div> 
 <h1>educator signup</h1>
 </div>
<form action="/educator" method="post">
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<input type="text" name="fname" placeholder="enter your fname">
<input type="text" name="lname" placeholder="enter your lmane">
<input type="email" name="email" placeholder="enter your email">
<input type="password" name="password" placeholder="enter your password">
<button type="submit"> submit</button>
</form>

   <script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>