<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <form action="/signin" method="post">
     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <input type="text" name="email" placeholder="enter your email">
     <input type="text" name="password" placeholder="enter your password">
     <button type="submit"> login</button>
     </form>
 <script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>